.city-library {
    width: 59%;
    padding: 30px 20px;
    float: left;
    text-align: center;
}

.city-library .table-cities {
    border: 1px solid black;
}

.city-library .table-cities li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}
.city-library ul {
    padding: 0;
}


.city-library .letters > li{
    text-align: center;
    padding: 5px;
    display: inline-block;
    text-align: center;
    list-style: none;
    }
.city-library h2:hover{
    text-decoration: underline;
    color: #0404bd;
    cursor: pointer;
}

