.city-library {
    width: 59%;
    padding: 30px 20px;
    float: left;
}

.city-library div {
    float: left;
    border: none;
    list-style: none;
    padding-left: 20%;
}

.city-library .letters {
    text-align: center;
    list-style: none;
}
.city-library h2:hover{
    text-decoration: underline;
    color: #0404bd;
    cursor: pointer;
}