.play-game {
    width: 59%;
    
    float: left;
}

.play-game div {
    margin: 200px 270px;
    display: inline-flex;
    border: 1px solid black;
    }

.play-game input {
    height: 30px;
    width: 200px;
    font-size: 20px;
    padding-left: 10px; 
    border: none;
}

.play-game button {
    height: 35px;
    font-size: 20px;
    border: none;
}

.play-game button:hover {
    cursor: pointer;
    background-color: #0404bd;
    color: white;
}

.play-game input:focus {
    outline: none;
}